.auth {
    &-btn {
        margin: 0.5rem;
        padding: 0.5rem;
        width: 70%;
        height: 20%;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
    }
};