.auth {
    &-btn {
        margin: 0.5rem;
        padding: 0.5rem;
        width: 70%;
        height: 20%;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
    }
    &-modal {
        position: absolute;
        z-index: 1;
        margin-top: 5rem;
        padding: 0.5rem;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 85%;
        min-height: 30%;
        background-color: white;
        box-shadow: 0px 0px 3px 1px grey;
        &--active {
            display: flex;
        }
    }
};

#sign-up {
    height: 60%;
}
#log-in {
    height: 50%;
}