* {
    box-sizing: border-box;
}
.app {
    width: 100vw;
    height: 100vh;
}

// base
@import './base/typography';

// components


// helpers
@import './helpers/auth';

// layout
@import './layout/header';

// pages
@import './pages/page';

// utilities
