@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');

.content {
    font-family: 'Indie Flower', sans-serif;
    font-style: italic;
    &--one {
        font-size: 1.5rem;
    }
}
.heading {
    font-family: 'Patrick Hand', serif;
    font-weight: 1000;
    &--one {
        font-size: 3rem;
    }
    &--two {
        font-size: 2rem;
    }
};
